.notes-controller {
    text-align: center;
    background-color: #baf7a991;
    margin: 0 -2% -2% -2%;
    padding: 2rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* .app-title {
    margin-top: 2rem;
} */

.top-area {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
}

.filter {
    list-style: none;
    display: inline-grid;
}

.filter li {
    cursor: pointer;
    transition: 0.15s;
    display: inline;
    /* margin-left: 1rem; */
    font-weight: bold;
}

.filter li:hover {
    color: rgb(66, 247, 66);
}

.fa-sort-amount-down:before {
    height: 10vh;
}

.add-note {
    margin: 4rem 10rem 4rem 27rem;
    width: 50%;
    box-shadow: 1px 0px 4px 0px black;
    padding: 2rem;
    background-color: white;
    /* float: right;*/
}

.add-note input {
    border: none;
    float: left;
    margin-top: -0.6rem;
    margin-right: 4rem;
    width: 14rem;
}

.add-note input:focus {
    outline: none;
}

.input-signs {
    float: right;
    margin-top: -0.8rem;
    font-size: x-large;
}

.notes-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    column-count: 5;
    margin: 5%;
    margin-bottom: 2rem;
    height: 100%;
    justify-items: center;
}

.note-preview {
    margin: 8px;
    background-color: '#f1f1f1';
    color: rgb(0, 0, 0);
    padding: 16px;
    transition: 0.2s;
    box-shadow: 9px 8px 8px 0px #565656;
}

.pinImg {
    width: 4rem;
    margin-top: -2rem;
    margin-bottom: 11px;
}

.fas {
    cursor: pointer;
    transition: 0.2s;
}

.search {
    margin-left: 1.5rem;
    transition: 0.1s;
}

.search:hover {
    color: greenyellow;
}

.edit .fas {
    margin-left: 0.7rem;
    font-size: 1.4rem;
}

.edit .fas:hover {
    color: rgb(89, 255, 47);
}

.img {
    width: 100%;
    /* height: fit-content; */
}

.img-type {
    height: fit-content;
    width: 15rem;
}

.change-url {
    margin-top: 1rem;
    border: 0;
    border-bottom: 2px solid #171717;
}

.change-url:focus {
    outline: none;
}

.change-title {
    margin-bottom: 1rem;
    border: 0;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.change-title:focus {
    outline: none;
}

.txt-type {
    height: fit-content
}

.txt-place {
    height: 4rem;
}

.todo-type {
    height: fit-content;
    cursor: pointer;
    width: 20rem;
}

.add-todo {
    border: 0;
    border-bottom: 2px solid #171717;
}

.add-todo:focus {
    outline: none;
}

.Done {
    text-decoration: line-through;
}

span .DoneAt {
    text-decoration: line-through;
    font-size: small;
}

.remove-todo {
    font-size: small;
    margin-top: 0.2rem;
    margin-left: 10rem;
}

.remove-it {
    float: right;
}

.remove-todo:hover {
    color: chartreuse;
}

.video-type {
    height: fit-content;
    width: fit-content;
}

.colorsEdit {
    list-style: none;
    display: flex;
    margin-bottom: -3rem;
}

.colorsEdit .fas {
    margin: 0;
    font-size: 2rem;
}

.fa-tint {
    cursor: pointer;
    font-size: 1.8rem;
    margin: 0;
}

.fa-trash::before {
    font-size: 1rem;
}